body {
	background: rgb(21, 30, 30);
    text-align: center;
}

#display {
    color: silver;
}

#drum-machine {
    display: inline-flex;
    flex-direction: column;
    border: 4px black inset;
}

[id^="row-"] {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.drum-pad {
    border: 4px black inset;
    background: rgb(168, 130, 69);
}
